<ul>
  <li>Set goal:
    <%= @exercise_session.set_goal %>
  </li>
  <li>Rep goal
    <%= @exercise_session.rep_goal %>
  </li>
  <li>Duration goal:
    <%= @exercise_session.duration_goal %>
  </li>
  <li>Weight:
    <%= @exercise_session.weight %>
  </li>
</ul>
