// variables
$off-white: #fff;
$light-gray: #555;

// universal
html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}


// header
#logo {
  color: $off-white;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 9px;

  &:hover {
    color: $off-white;
    text-decoration: none;
  }
}

// devise
.log-in {
  font-family: 'Roboto', Arial, sans-serif;
  margin: auto;
  padding-top: 10%;
  text-align: center;
  width: 700px;
}

.panel-heading {
  background-color: $off-white;
}

.form-control {
  margin: auto;
  text-align: center;
  width: 500px;
}

.panel-body p {
  color: $light-gray;
}
