<div>
  <strong>Exercise:</strong>
  <%= @exercise.name %><br>
</div>
<ul>
  <% @exercise.exercise_sessions.each do |session| %>
    <li><%= link_to "#{@exercise.name} | session", exercise_exercise_session_path(@exercise.id, session.id) %></li>
  <% end %>
</ul>
